script(src="assets/scripts.min.js")
//- script(type='text/javascript').
//-   document.ondragstart = noselect;
//-   document.onselectstart = noselect;
//-   document.oncontextmenu = noselect;
//-   function noselect() {return false;}


