include ../../includes/menu/menu
include ../../includes/hamburger/hamburger 
.header
  .container
    .header__top.top
      a(href="#").top__link Биз тууралуу
      a(href="#").top__link Байланыш
    .header__middle
      .search
        form(action="").search-form          
          .search-form__input
            .search-form__trigger
              label(for="search").search-form__trigger-wrap.search-js
                i.fal.fa-search
              input(type="text" placeholder="Издөө" id="search")
              .search-form__result-window
      .header__logo
        a(href="#")
          img(src="assets/img/logo.png" alt="")
      .social
        mixin social(socialNetwork, modificator, link)
          .social__item
            a.social__network(href=link target="_blank" class=modificator)
              .social__front
                i(class=socialNetwork)
              .social__back
                i(class=socialNetwork)
        +social('fab fa-facebook-f','social__network_facebook','#')
        +social('fab fa-instagram','social__network_instagram','#')
        +social('fab fa-twitter','social__network_twitter','#')
        +social('fab fa-youtube','social__network_youtube','#')
        +social('fab fa-whatsapp','social__network_whatsapp','#')
        +social('fab fa-telegram-plane','social__network_telegram','#')
  nav.nav
    .container
      include ../../includes/nav/nav









