* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $helvetica;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}



// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// category
.category {
  background-color: $mc;
  color: $bc;
  font-size: rem(12px);
  padding: rem(3px) rem(5px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

// category end


// date 
.date {
  font-size: rem(12px);
  font-weight: 300;
  color: $bc;
}

// date end

// indentation
.indentation {
  padding: rem(40px) 0;

  &_background {
    background-color: $bgcolor;
  }
}

// indentation end



// title
.title {
  margin-bottom: rem(43px);

  h2 {
    color: $bc;
    font-size: 24px;
    line-height: 0.75;
    font-family: $taurus;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    font-size: 50px;
    font-family: $taurus;
    line-height: 0.36;
    color: #cccdcc;
    top: 0;
    left: rem(-2px);
    z-index: -1;
    top: 50%;
    transform: translateY(-35%);
  }

  &_modify {
    &:after {
      position: absolute;
      content: '';
      max-width: rem(65px);
      width: 100%;
      height: rem(4px);
      background-color: $mc;
    }
  }
}

// title end

// btn
.btn-wrap {
  .btn {
    display: inline-flex;
    align-items: center;
    border: rem(1px) solid $mc;
    font-family: $taurus;
    position: relative;
    padding: rem(6px) rem(36px) rem(4px) rem(12px);
    color: $bc;

    &:hover {
      &:before {
        width: 100%;
        z-index: -1;
      }

      &:after {
        transform: translateX(7px);
      }
    }

    &:before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: $mc;
    }

    &:after {
      content: '';
      font-family: "Font Awesome 5 Pro";
      content: "\f178";
      right: rem(13px);
    }

    &:before,
    &:after {
      position: absolute;
      transition: $tr;
    }
  }

  &_center {
    text-align: center;
  }

  &_left {
    text-align: left;
  }
}

// btn end