.header {
  .container {
    @include lg {
      max-width: 100%;
      padding: 0;
    }
  }

  .search,
  .header__logo,
  .social {
    flex-basis: 33.33%;

    @include md {
      flex-wrap: wrap;
      flex-basis: auto;
    }

    @include xs {
      width: 100%;
    }
  }


  .top {
    min-height: 33px;
    background: $sc;
    display: flex;
    align-items: center;
    padding-left: rem(15px);

    &__link {
      color: $wc;
      margin-right: rem(24px);
      font-family: $taurus;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        color: $mc;
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(22px) 0;
    border-bottom: rem(1px) solid $sc;

    @include lg {
      padding-left: rem(15px);
      padding-right: rem(15px);
    }

    @include md {
      flex-wrap: wrap;
    }

    @include xs {
      flex-direction: column;
    }

  }

  .search {
    position: relative;

    @include md {
      order: 1;
      flex-basis: 50%;
    }

    .search-form {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__trigger {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        @include xs {
          border: rem(1px) solid $mc;
        }
      }

      .border {
        border: rem(1px) solid $mc;

        input {
          padding-left: 0;
        }
      }

      .trigger-search {
        border: none;
      }

      &__trigger-wrap {
        max-width: rem(34px);
        width: 100%;
        height: rem(34px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: rem(1px) solid $mc;

        @include xs {
          border: none;
        }
      }

      &__input {
        height: rem(34px);
        width: 100%;

        input {
          height: rem(34px);
          width: 100%;
          border: none;
          text-transform: uppercase;
          font-family: $taurus;
          padding-left: rem(18px);
          transition: $tr;

          @include xs {
            padding-left: 0;
            padding-right: rem(10px);
            font-size: rem(13px);
          }

          :-webkit-input-placeholder {
            color: blue;
          }

          ::-moz-placeholder {
            color: blue;
          }

          /* Firefox 19+ */
          :-moz-placeholder {
            color: blue;
          }

          /* Firefox 18- */
          :-ms-input-placeholder {
            color: blue;
          }
        }
      }

      &__result-window {
        background-color: $wc;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        box-shadow: 0 rem(5px) rem(11.1px) rem(2px) rgba(0, 0, 0, .07);
        border-radius: 0 0 rem(10px) rem(10px);
        height: rem(170px);
        z-index: 1;
        padding: rem(10px);
        font-family: $taurus;
        font-size: rem(15px);
        margin-top: rem(5px);
        box-sizing: border-box;
        overflow-y: scroll;
        display: none;
      }

      .search-form__result-window::-webkit-scrollbar {
        opacity: 0;
        width: 0;
      }

      .ss-autocomplete-result__title a {
        color: $bc;
        font-size: rem(13px);
        margin-bottom: rem(10px);
      }

      .ss-autocomplete-result__content {
        padding-bottom: rem(10px);
      }
    }
  }

  .ss-search-form__results {
    background-color: $wc;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    box-shadow: 0 rem(5px) rem(11.1px) rem(2px) rgba(0, 0, 0, .07);
    border-radius: 0 0 rem(10px) rem(10px);
    height: rem(170px);
    z-index: 1;
    padding: rem(10px);
    font-family: $taurus;
    font-size: rem(15px);
    margin-top: rem(5px);
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .ss-search-form {
    position: relative;
  }


  .ss-search-form__results--visible1 {
    display: block;
  }

  .ss-search-form__results::-webkit-scrollbar {
    opacity: 0;
    width: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      width: 100%;
      margin-bottom: rem(30px);
      flex-basis: auto;
    }

    @include sm {
      margin-bottom: rem(20px);
    }

    a {
      max-width: rem(330px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include lg {
        max-width: rem(230px);
      }

      img,
      svg {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .nav {
    box-shadow: 0px rem(8px) rem(7px) 0 rgba(0, 0, 0, 0.13);

    @include md {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      li {
        // position: relative;

        ul {
          flex-direction: column;
          align-items: stretch;
          display: none;
          position: absolute;
          top: 100%;
          transform: translateX(-14px);
          box-shadow: 0px 5px 11.1px 2px rgba(0, 0, 0, 0.14);
          z-index: 2;

          .nav__item_active {
            a {
              background-color: $mc;
            }
          }

          li {
            padding: 0;
            background-color: $wc;

            a {
              color: $bc !important;
              padding: rem(9px) rem(32px) rem(9px) rem(14px);
              display: block;
              text-transform: none;

              &:hover {
                background-color: $mc;
              }
            }
          }
        }
      }
    }

    &__item {
      cursor: pointer;
      padding: rem(14px) 0 rem(9px);

      &:hover {
        ul {
          display: block;
        }

        i {
          transform: rotate(180deg);
        }

        i,
        a {
          color: $mc;
        }
      }

      a {
        color: $bc;
        font-family: $taurus;
        text-transform: uppercase;

        @include lg {
          font-size: rem(14px);
        }
      }

      i {
        margin-left: rem(5px);
        transition: $tr;
      }

      &_active {
        i {
          color: $mc;
        }

        a {
          color: $mc !important;
        }
      }
    }

    .container {
      @include lg {
        max-width: 100%;
        padding: 0 rem(15px);
      }
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include md {
    order: 1;
  }

  @include xs {
    order: 0;
    margin-bottom: rem(20px);
    justify-content: center;
  }

  &__item {
    margin-right: rem(9px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__network {
    width: rem(34px);
    height: rem(34px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotateY(0);
    transition: transform .25s ease-out;
    transform-style: preserve-3d;

    @include lg {
      width: rem(30px);
      height: rem(30px);
    }

    &:hover {
      transform: rotateY(100deg);

      .social__back {
        box-shadow: 0px rem(3px) rem(10px) 0px rgba(0, 0, 0, 0.75);
      }
    }

    &_facebook {
      .social__back {
        background-color: #3b5998;
        border-color: #3b5998;
      }
    }

    &_instagram {
      .social__back {
        background-color: #DD2A7B;
        border-color: #DD2A7B;
      }
    }

    &_twitter {
      .social__back {
        background-color: #1da1f2;
        border-color: #1da1f2;
      }
    }

    &_youtube {
      .social__back {
        background-color: #ff0000;
        border-color: #ff0000;
      }
    }

    &_whatsapp {
      .social__back {
        background-color: #25d366;
        border-color: #25d366;
      }
    }

    &_telegram {
      .social__back {
        background-color: #0088cc;
        border-color: #0088cc;
      }
    }
  }

  &__front,
  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(34px);
    height: rem(34px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $tr;

    @include lg {
      width: rem(30px);
      height: rem(30px);
    }

  }

  &__front {
    transform: translateZ(19px);
    border: rem(1px) solid $mc;
    color: $bc;

    @include lg {
      font-size: rem(15px);
      transform: translateZ(17px);
    }

  }

  &__back {
    font-size: rem(19px);
    transform: rotateY(-90deg) translateZ(rem(18px));
    background-color: $mc;
    border: rem(1px) solid $mc;
    color: $wc;

    @include lg {
      font-size: rem(17px);
      transform: rotateY(-90deg) translateZ(rem(17px));
    }
  }


}