  .sidebar {
    max-width: 32%;
    width: 100%;

    @include lg {
      max-width: 40%;
    }

    @include md {
      max-width: 34%;
    }

    @include sm {
      flex-basis: 50%;
      background-color: $wc;
      position: absolute;
      display: none;
    }


    &__float-block {
      position: sticky;
      top: rem(20px);
    }

    .catigory-news {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: rem(20px);
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      &__preview {
        max-width: rem(75px);
        width: 100%;
        margin-left: rem(22px);

        @include md {
          max-width: rem(50px);
        }

        a {
          display: flex;
        }
      }

      &__desc {

        a {
          font-size: rem(14px);
          font-weight: 700;
          color: $bc;
          margin-bottom: rem(10px);
          display: block;

          @include md {
            font-size: rem(12px);
            font-weight: 500;
          }

          &:hover {
            color: $mc;
          }
        }

        p {
          font-size: rem(10px);
          color: $bc;
        }
      }
    }

    &__category-block {
      box-shadow: 0px 5px 11.1px 2px rgba(0, 0, 0, 0.07);
      max-width: 100%;
      width: 100%;
      padding: rem(30px) rem(25px);
      margin-bottom: rem(40px);
      box-sizing: border-box;

      @include md {
        padding: rem(20px) rem(15px);
      }

      &:last-child {
        margin: 0;
      }

      .news {
        max-width: 100%;
        margin-right: 0 !important;

        .news__preview {
          max-width: 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


  }

  .rubric {
    &__item {
      margin-bottom: rem(10px);
      position: relative;

      @include lg {
        margin-bottom: rem(7px);

        @include md {
          margin-bottom: rem(5px);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      transition: $tr;
      color: $bc;
      font-size: rem(18px);
      position: relative;

      @include lg {
        font-size: rem(16px);
      }

      @include md {
        font-size: rem(15px);
      }



      &:before {
        position: absolute;
        font-family: "Font Awesome 5 Pro";
        content: "\f178";
        left: 0;
        transition: all .1s;
        opacity: 0;
        left: rem(-10px);
        color: $mc;
      }

      &:hover {
        color: $mc;
        padding-left: rem(30px);

        @include lg {
          padding-left: rem(25px);
        }

        @include md {
          padding-left: rem(20px);
        }

        &:before {
          opacity: 1;
          left: 0;
        }
      }
    }
  }