  .sidebar {
    flex-basis: 32%;

    @include lg {
      flex-basis: 40%;
    }

    @include md {
      flex-basis: 34%;
    }

    @include sm {
      flex-basis: 50%;
      background-color: $wc;
      position: absolute;
      display: none;
    }


    &__float-block {
      position: sticky;
      top: rem(20px);
    }

    .catigory-news {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: rem(20px);
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      &__preview {
        max-width: rem(75px);
        width: 100%;
        margin-left: rem(22px);

        @include md {
          max-width: rem(50px);
        }

        a {
          display: flex;
        }
      }

      &__desc {

        a {
          font-size: rem(14px);
          font-weight: 700;
          color: $bc;
          margin-bottom: rem(10px);
          display: block;

          @include md {
            font-size: rem(12px);
            font-weight: 500;
          }

          &:hover {
            color: $mc;
          }
        }

        p {
          font-size: rem(10px);
          color: $bc;
        }
      }
    }

    &__category-block {
      box-shadow: 0px 5px 11.1px 2px rgba(0, 0, 0, 0.07);
      max-width: 100%;
      width: 100%;
      padding: rem(30px) rem(25px);
      margin-bottom: rem(40px);
      box-sizing: border-box;

      @include md {
        padding: rem(20px) rem(15px);
      }

      &:last-child {
        margin: 0;
      }
    }


  }