.category-news {
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .news__preview {
      max-width: rem(262px);
      width: 100%;

      @include lg {
        max-width: rem(173px);
      }

      @include md {
        max-width: rem(158px);
      }

      @include sm {
        max-width: rem(189px);
      }

      @include xs {
        max-width: 100%;
      }
    }
  }
}