.additional {
  .container {
    @include lg {
      max-width: 100%;
    }
  }

  .date {
    line-height: normal;
  }

  .category {
    @include xs {
      font-size: rem(10px);
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 rem(30px);

    @include lg {
      grid-gap: 0 rem(15px);
    }
  }

  &__news {
    grid-column-end: span 3;

    @include sm {
      grid-column-end: span 6;
    }

    &:first-child {
      @include lg {
        order: 2;
      }
    }

    &:nth-child(2) {
      grid-column-end: span 6;
      grid-row-end: span 2;

      @include sm {
        grid-column-end: span 12;

        .news {
          max-width: 100%;
        }
      }

      .news__title {
        font-size: rem(18px) !important;
        line-height: 1.22 !important;

        @include md {
          font-size: rem(14px) !important;
        }
      }

      .news__info-block {
        margin-top: rem(40px) !important;
        min-height: rem(50px);

        @include lg {
          margin-top: rem(20px) !important;
        }
      }

      img {
        height: rem(300px) !important;
        object-fit: cover !important;

        @include md {
          height: rem(255px) !important;
        }

        @include sm {
          height: auto !important;
        }
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      .news {
        margin-bottom: 0;
      }
    }

    .news {
      margin-top: 0;

      &__preview {
        max-width: 100% !important;

        img {
          height: rem(142px);
          object-fit: cover;

          @include lg {
            height: rem(142px);

          }

          @include md {
            height: rem(123px);
          }

          @include sm {
            height: rem(190px);
          }

          @media screen and (max-width: 530px) {
            height: rem(120px);
          }

          @media screen and (max-width: 400px) {
            height: rem(100px);
          }

          @media screen and (max-width: 350px) {
            height: rem(75px);
          }

        }
      }

      &__info-block {
        margin-bottom: 0 !important;
      }

      .date {
        @include lg {
          font-size: rem(12px) !important;
        }

        @include md {
          font-size: rem(10px) !important;
        }
      }

      &__title {
        @include lg {
          font-size: rem(12px) !important;
        }

        @include md {
          font-size: rem(11px) !important;
        }

        @include xs {
          font-size: rem(10px) !important;
          font-weight: 500;
        }
      }

      &:first-child {
        .news__info-block {
          margin-top: rem(10px);
          min-height: rem(50px);

          @include sm {
            max-width: 100%;
          }
        }

        .news__title {
          line-height: 1.29;
          font-size: rem(14px);
          margin-bottom: rem(5px);
        }

        .news__preview {
          order: 0;

          .category {
            bottom: 0;
          }
        }
      }


    }
  }
}