.news {
  max-width: rem(262px);
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: rem(15px);

  &__contains-videos {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:first-child {
    max-width: rem(555px);
    float: left;
    margin-right: rem(30px);
    display: inline-flex;
    flex-direction: column;
    margin-top: rem(30px);

    .news__preview {
      order: 2;
      max-width: rem(555px);

      .category {
        bottom: auto;
      }
    }

    .news__info-block {
      min-height: auto;
      margin: 0 0 rem(7px);

      .date {
        font-size: rem(14px);
      }
    }

    .news__title {
      font-size: rem(18px);
      line-height: 1.22;
    }

    .news__desc {
      order: 3;
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    margin-right: rem(26.5px);
  }

  &__title {
    color: $txtcolor;
    font-weight: 700;
    position: relative;
    line-height: 1.29;
    font-size: rem(14px);
    margin-bottom: rem(5px);
    display: block;

    &:hover {
      color: rgba($mc, 0.7);
    }

    &_entry-main-title {
      color: $txtcolor;
      font-weight: 700;
      font-size: rem(18px);
    }
  }

  &__info-block {
    margin-top: rem(10px);
    min-height: rem(50px);
  }

  &__desc {
    color: $bc;
    font-weight: 300;
    line-height: 1.38;
    color: $txtcolor;
    margin-top: rem(7px);
  }

  &__preview {
    position: relative;
    display: flex;
    max-width: rem(262px);
    align-items: center;
    justify-content: center;

    .category {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.last-news {
  .container {
    @include md {
      max-width: 100%;
    }
  }


  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include md {
      // flex-direction: column;
    }
  }

  &__category {
    border-bottom: rem(2px) solid $lc;
    padding-bottom: rem(15px);
    margin-bottom: rem(70px);

    &:last-child {
      margin: 0;
      border: none;
      padding: 0;
    }
  }


  .news__desc {
    @include lg {
      font-size: rem(13px);
    }
  }

  .news__preview {
    max-width: rem(260px);
    width: 100%;
    @include lg {
      max-width: rem(180px);
      width: 100%;
    }

    @include xs {
      max-width: 100%;
      width: 100%;
    }
  }
}

// news-detail
.news-detail {
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .news-container {
    margin-right: rem(20px);
  }

  &__title {
    margin-top: rem(13px);
    font-size: rem(24px);
    margin-bottom: rem(12px);
    font-weight: 700;
    visibility: $bc;
    line-height: 1.17;

    @include lg {
      font-size: rem(22px);
    }

    @include md {
      font-size: rem(20px);
    }

    @include sm {
      font-size: rem(18px);
    }

    @include xs {
      font-size: rem(16px);
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(5px);

    @include xs {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-item {
    font-size: rem(14px);
    font-weight: 300;
    color: $bc;
    line-height: 1.71;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: rem(12px);
      margin-right: rem(10px);
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;
  }

  &__author {
    position: absolute;
    background-color: $mc;
    padding: rem(5px) rem(14px);
    font-size: rem(14px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.71;
    transform: translateY(-15px);
    z-index: 1;

    @include xs {
      position: relative;
      transform: translateY(0);
      width: 100%;
    }

    i {
      width: 10px;
      height: 20px;
      padding-right: rem(10px);
      margin-right: rem(8px);
      border-right: rem(1px) solid $bc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__desc {
    border-bottom: rem(1px) solid #ccc;
    margin-top: rem(40px);

    @include lg {
      margin-top: rem(35px);
    }

    @include md {
      margin-top: rem(30px);
    }

    @include sm {
      margin-top: rem(20px);
    }

    p {
      margin-bottom: rem(20px);

      b {
        display: block;
      }
    }
  }

  .navigation {
    @include xs {
      margin-top: rem(20px);
    }
  }
}

.comments {
  margin-top: rem(30px);

  &__user-name {
    color: $mc;
    margin-right: rem(10px);
  }

  &__user-review {
    background-color: $mc;
    color: $wc;
    padding: rem(10px);
    display: inline-block;
    position: relative;
    margin-top: rem(10px);
    margin-left: rem(5px);

    &:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: rem(15px) solid $mc;
      border-right: rem(15px) solid transparent;
    }
  }

  &__item {
    margin-bottom: rem(10px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &--your-review {
      align-items: flex-end;

      .comments__user-name {
        text-align: right;
        margin-right: 0;
        margin-left: rem(10px);
      }

      .comments__user-review {
        margin-left: 0;
        margin-right: rem(5px);
        text-align: right;

        &:before {
          right: 0;
          left: auto;
          transform: rotate(270deg);
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(10px);
  }

  &__date {
    font-size: rem(11px);
  }

  .message-form {
    padding-top: rem(20px);
    margin-top: rem(25px);
    border-top: rem(1px) solid #ccc;

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include xs {
        flex-direction: column;
      }
    }

    textarea {
      width: 100%;
      border: none;
      resize: none;
      outline: none;

      @include xs {
        margin-bottom: rem(20px);
        padding-bottom: rem(20px);
        border-bottom: rem(1px) solid #ccc;
      }
    }
  }
}

// news-detail end



// category news
.category-news {
  .container {
    @include sm {
      max-width: 100%;
    }
  }

  .news {
    flex-direction: row;

    @include xs {
      margin: 0;
      flex-direction: column;
      margin-bottom: rem(20px);
    }

    &:first-child {
      @include xs {
        .news__preview {
          max-width: 100%;
        }
      }
    }

    .news__preview {
      @include xs {
        width: 100%;
      }
    }

    .news__desc {
      @include lg {
        font-size: rem(13px);
      }
    }
  }
}

// category news end