extends layout/main/main
block title
  | categry news
block main  
  include includes/title/title
  - var overlay = true
  .wrapper
    .content 
      include includes/header/header

      .category-news.indentation
        .container
          .category-news__wrap
            .news-container
              include includes/breadcrumbs/breadcrumbs
              +breadcrumbs(['Башкы бет'], 'Коом')
              +title('Коом')
              include includes/filter/filter
              include includes/news/news
              - var description = false     
              - var category = true          
              +new('Саясат','assets/img/category-news/1.png','Өмүрбек ТЕКЕБАЕВ: “Ата Мекен” шайлоого катышат.','Элита плюс - Бирдин айы 05, 2020 ж','“Ата Мекен” партиясынын лидери Өмүрбек Текебаевден журналист Динар Турдугулова интервью алып, аталган партия шайлоого катышаар, катышпасын........')
              +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
              +new('Саясат','assets/img/category-news/1.png','Өмүрбек ТЕКЕБАЕВ: “Ата Мекен” шайлоого катышат.','Элита плюс - Бирдин айы 05, 2020 ж','“Ата Мекен” партиясынын лидери Өмүрбек Текебаевден журналист Динар Турдугулова интервью алып, аталган партия шайлоого катышаар, катышпасын........')
              +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
              +new('Саясат','assets/img/category-news/1.png','Өмүрбек ТЕКЕБАЕВ: “Ата Мекен” шайлоого катышат.','Элита плюс - Бирдин айы 05, 2020 ж','“Ата Мекен” партиясынын лидери Өмүрбек Текебаевден журналист Динар Турдугулова интервью алып, аталган партия шайлоого катышаар, катышпасын........')
              +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
              .btn-wrap.btn-wrap_center
                a(href="#").btn Башкалар
            aside.sidebar   
              .sidebar__float-block   
                include includes/sidebar/sidebar
                +category('Акыркы статьялар')
                - var adver = true 
                +category('Жарнама')









    include includes/footer/footer


  include includes/scripts 