extends layout/main/main
block title
  | main
block main
  include includes/title/title
  - var overlay = true

  .wrapper
    .content 
      include includes/header/header


      //- entry
      .entry.indentation
        .container
          .entry__wrap
            include includes/news/news
            - var rubric = false  
            - var description = true          
            +new('Эл өкүлү','assets/img/entry/main-new-entry-preview.png','Аида КАСЫМАЛИЕВА, Жогорку Кеңештин депутаты:“Эл аралап, эл менен баарлашуудан ырахат алам”','Элита плюс - Бирдин айы 10, 2020', 'Кыргыздын сыймыктуу кыздарынын катарын толуктаган Жогорку Кеңештин депутаты Аида Касымалиева ........ ')
            - var description = false 
            +new('Шоу дүйнө','assets/img/entry/entry1.png','“Элди саясатташпаган сатиралар менен тосуп алдым”','Элита плюс - Бирдин айы 08, 2020')
            - var hasVideo = false            
            +new('Билим','assets/img/entry/entry2.png','Айылчы САРЫБАЕВ,“Сыйлык - бул элдин берген баасы”','Элита плюс - Бирдин айы 08, 2020')
            +new('Ийгилик сыры','assets/img/entry/entry3.png','Айзат ЭГЕМБЕРДИЕВА, “AUTO MED” компаниясынын башкы директору: ','Элита плюс - Бирдин айы 08, 2020')
            +new('Медицина','assets/img/entry/entry4.png','Калдарбек АБДРАМАНОВ, профессор, ..... ','Элита плюс - Бирдин айы 08, 2020')
      //- entry end


      //- production
      include includes/production/production
      //- production end


      .last-news.indentation
        .container
          .last-news__wrap 
            .news-container
              .last-news__category                
                +title('САясат')
                - var category = true          
                +new('Саясат','assets/img/category-news/1.png','Өмүрбек ТЕКЕБАЕВ: “Ата Мекен” шайлоого катышат.','Элита плюс - Бирдин айы 05, 2020 ж','“Ата Мекен” партиясынын лидери Өмүрбек Текебаевден журналист Динар Турдугулова интервью алып, аталган партия шайлоого катышаар, катышпасын........')
                +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
                +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
                .btn-wrap.btn-wrap_center
                  a(href="#").btn Башкалар
              .last-news__category
                +title('Дүйнөдө')
                - var category = true          
                +new('Саясат','assets/img/category-news/1.png','Өмүрбек ТЕКЕБАЕВ: “Ата Мекен” шайлоого катышат.','Элита плюс - Бирдин айы 05, 2020 ж','“Ата Мекен” партиясынын лидери Өмүрбек Текебаевден журналист Динар Турдугулова интервью алып, аталган партия шайлоого катышаар, катышпасын........')
                +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
                +new('Саясат','assets/img/category-news/2.png','Кыргызстан менен Тажикстан эки чек ара тилкесин алмашууга макулдашты','Элита плюс - Бирдин айы 05, 2020 ж','Бүгүн, 21-январда Жогорку Кеңештин Эл аралык иштер, коргоо жана коопсуздук боюнча комитетинде кыргыз-тажик чек ара маселеси каралды.')
                .btn-wrap.btn-wrap_center
                  a(href="#").btn Башкалар  
            aside.sidebar   
              .sidebar__float-block   
                include includes/sidebar/sidebar
                +category('Спорт')
                +category('Медицина')
                +category('Экономика')
      //- additional
      .additional.indentation.indentation_background
        .container
          +title('ПАРЛАМЕНТ 2020')
          .additional__wrap
            .additional__news 
              - var description = false          
              +new('Парламент 2020','assets/img/additional/1.jpg','Жээнбеков и Шайлдабекова обсудили предстоящие выборы','Элита плюс - Бирдин айы 08, 2020')
            .additional__news 
              +new('Парламент 2020','assets/img/additional/5.jpg','ЦИК напомнила о правилах регистрации партий на выборы в ЖК','Элита плюс - Бирдин айы 08, 2020')
            .additional__news 
              +new('Парламент 2020','assets/img/additional/3.jpg','Будут ли досрочные выборы в Жогорку Кенеш? Ответ торага','Элита плюс - Бирдин айы 08, 2020')
            .additional__news
              +new('Парламент 2020','assets/img/additional/4.jpg','Все о процедуре самороспуска Жогорку Кенеша','Элита плюс - Бирдин айы 08, 2020')
            .additional__news 
              +new('Парламент 2020','assets/img/additional/2.jpg','Президент одобрил изменения в законы о выборах в КР.','Элита плюс - Бирдин айы 08, 2020')


      //- additional end



      //- gallery
      - var indexGallery = true
      include includes/gallery/gallery
      //- gallery end


      //- video
      .video.indentation.indentation_background
        .container
          +title('Видео')
          .swiper-container.video-js
            .swiper-wrapper
              mixin video(preview, linkVideo)
                .swiper-slide
                  a(data-fancybox href=linkVideo).hover-effect
                    img(src=preview alt="")
                    .playButton
                      svg(x='0px' y='0px' viewbox='0 0 213.7 213.7' enable-background='new 0 0 213.7 213.7' xml:space='preserve')
                        polygon.triangle(fill='none' stroke-width='7' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='73.5,62.5 148.5,105.8 73.5,149.1')

              +video('https://i.ytimg.com/vi/6Ym1ciaQFVQ/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD1U7FBN6nhuLGcEm2ifpGcR8i3NQ', 'https://youtu.be/6Ym1ciaQFVQ')    
              +video('https://i.ytimg.com/vi/pAM1TZFonqU/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAJGx14gn9wb3ZgLVnZNKCKYhNNTA', 'https://youtu.be/pAM1TZFonqU')    
              +video('https://i.ytimg.com/vi/kjglZjEk8J0/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCr_kDtrBGJWDjn1qnGgXbS5RCKSA', 'https://youtu.be/kjglZjEk8J0')    
              +video('https://i.ytimg.com/vi/8V2UtK_eoYQ/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBBsSIUYNQ9n_BRYO_tf9PNImkA9w', 'https://youtu.be/8V2UtK_eoYQ')       
              +video('https://i.ytimg.com/vi/z8FUkF7F-Go/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBnD_g2WDRZUai9LvHzdjRwfd1PPQ', 'https://youtu.be/z8FUkF7F-Go')    
              +video('https://i.ytimg.com/vi/C1cKDZmbRQk/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAOW3JP0BIRqoMmVDI49vt8NW5ybg', 'https://youtu.be/C1cKDZmbRQk')    
              +video('https://i.ytimg.com/vi/OnmFJUNZJbI/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCUix7B8MOw2Ir8b2kKIvrPcO1pqg', 'https://youtu.be/OnmFJUNZJbI')    
              +video('https://i.ytimg.com/vi/M-AAts7YXPE/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBD-hdPkXovsWp6GaM6HC5VlU96Ng', 'https://youtu.be/M-AAts7YXPE')    
            .navigation    
              .prev
                i.fal.fa-angle-left
              .next
                i.fal.fa-angle-right
      //- video end




    include includes/footer/footer


  include includes/scripts 
