extends layout/main/main
block title
  | news detail
block main  
  - var overlay = true
  include includes/header/header

  .news-detail.indentation
    .container
      .news-detail__wrap
        .news-container
          include includes/breadcrumbs/breadcrumbs
          +breadcrumbs(['Башкы бет', 'Саясат' ,'Эл өкүлү'], 'Аида Касымалиева')
          .category 
            | Эл өкүлү
          .news-detail__title
            | Аида КАСЫМАЛИЕВА, Жогорку Кеңештин депутаты: 
            | “Эл аралап, эл менен баарлашуудан ырахат алам”
          .news-detail__info
            .news-detail__info-item 
              i.far.fa-user
              | Элита плюс 
            .news-detail__info-item 
              i.far.fa-calendar-alt
              | Бирдин айы 10, 2020 
            .news-detail__info-item  
          .news-detail__slider
            .swiper-container.news-detail-js
              .swiper-wrapper
                .swiper-slide
                  .production__magazine              
                    img(src="./assets/img/additional/1.jpg" alt="")
              .news-detail__author   
                i.fal.fa-camera
                | &copy; Пресс-служба президента КР / Султан Досалиев  

              .navigation    
                .prev
                  i.fal.fa-angle-left
                .next
                  i.fal.fa-angle-right
          .news-detail__desc
            p
              b
                | Кыргыздын сыймыктуу кыздарынын катарын толуктаган Жогорку Кеңештин депутаты Аида Касымалиева бүгүн бизде конокто. Балалык, журналистика, саясат айдыңында жазгы дем менен ачык маектештик... 
            p 
              b
                |-Аида Камчыбековна, сиздей кызды тарбиялаган ата-энеңиз тууралуу айтсаңыз, кандай үй-бүлөдө чоңойгонсуз?
              | Киндик кан тамган кичи мекеним ордолуу Ош шаары. Атам инженер-куруучу болсо, апам китепканачы. Бактылуу балалыгым Ошто, Өзгөндө жана Кара-Кулжадагы таята, таэнемдердин үйүндө өткөн. Балалыкты эстегенде таяталарым менен жайлоого барган күндөр эске келет. Бул күндөр менин калыптанышыма салым кошкон келечек башаты болду. Бүгүн ошол таттуу күндөрдү сагынам. Балалык күндөр 1990-жылга туура келип, каалаган кийимди сатып алууга шарт болбой, тартыш жашоодо чоңойдук. Ал кезде элдин калың катмары кыйын жашоону баштан кечиргени маалым. Бала кезде семечка сатып, дагы башка иштерди жасап мээнеткеч элем. 7-класста атама кошулуп Орусиянын Оренбург шаарына мигрант катары барып жүрдүм. Аны менен катар апам китепканачы болгондуктан китептерге жакын өстүм. Балалыкты эстегенде көз алдыма жайлоо, караңгы китепкана, андагы сыз атмосфера көз алдыма тартылат. Алгач Барпы орто мектебинде, кийин Гагарин мектеп-гимназиясында окудум. Атама жана апама терең ыраазымын, союз мезгили тарап жаткан кезде “кыргыз тилин эркин сүйлөсүн” деген ниетте кыргыз мектепке окутушту. Кыргыз тилин терең билгеним “Азаттыкта” иштөөдө чоң жардамын берди. Жалпылап айтканда жупуну интеллигенттер үй-бүлөсүндө, 3 бөлмөлүү үйдө чоңойдук.  
            p
              b
                | -Журналистика тармагын тандооңуздун башкы себебине токтолсоңуз?
              | Негизи уялчаактык жана тил табыша албаган мүнөзүм бар, бирок муну көптөр билбейт. Балким ошол себептүү бул тармакка кызыгуум күч алгандыр. Бүгүнкү күндө да уялчаактык сапатым бар, аны жеңүүгө аракет кылып келгендиктен көптөр байкабайт. Экинчи себеби, гороскоп белгиси боюнча арстанмын, өзүмө тиешелүү амбицияларым бар. Саясатка да, журналистикага да ошол амбициялар жетелеп келсе керек. Алдыга максат коюу менен чоң жеңишке жетүү табиятымда жашайт. Үчүнчү себеп китепти көп окуп, жазуучулукка болгон кызыгуум себеп болду. Мектепти аяктаганда атам-энем: “кызым, экономист бол, Ошто эле оку” деген кебин айтышканда өжөрлүк менен журналистиканы тандап Бишкекке келе бергем. 9-классымда жергиликтүү ОшТВ каналына иштеп калдым. “Бумеранг” аттуу көрсөтүүнү ачып, анын аркасы менен Ош шаарына тез арада таанымал болгом. Аталган канал бизге акча төлөчү эмес, иштөөгө шарттар түзүлчү эмес. Ошого карабай кызыгуу менен түнү бою каналда иштечүмүн. Кийин “Азаттыкта” да көптөгөн иштерди акы төлөнбөсө да өзүм жасай берчүмүн. Буйрук экен, БГУнун журналистика факультетине өтүп, сүйүктүү кесибимдин ээси болдум. 
            p 
              b
                | -Кыргыз журналистикасына салым кошуп, чет элдик басылмаларда да иштеп келдиңиз. Доха өңдүү шаарлардан алган тажрыйба кандай түшүмүн берди?
              |  Журналистиканын казанында эрте кайнадым. 2-курсумда “Азаттыкка” ишке орношсом, ага чейин “Тынчтыкты жана согушту чагылдыруу институтунда” Чынара Жакыпова менен биргеликте иштеп баштагам. Биз жазган кыргыз, орус тилдүү макалалар Лондондон англис тилине которулуп, ошондо эле дүйнө жүзүн кыдыра баштагам. Филиппинге, Токиого барып, сынактарга катышып, Эл аралык сыйлыктарга ээ болгом. Бул мен үчүн шык берип, абдан кубандырган. Сынакка катышкан макалам аялдардын аракечтигине арналып, айылдарга жетишпеген таза суу боюнча да чагылдырылган. Ал кезде Чынара Шаршеевна, Султан Жумагуловдор жакшы жазышчу. Ал эми “Азаттыкка” тандалган соң “Азаттык+” радио программасын ачканыбызда аталган программага координатор болуп шайлангам. “Азаттыкта” он жыл иштеп, чоң мектептен өттүм. Прагада, 2 жыл Москвада иштеп, мигранттардын жашоосун чагылдырып жүрдүм. Депутаттын иши да журналистикага абдан окшош. Ошол эле маалыматты тактоо, изилдөө, адамдар менен баарлашуу, башкысы акыбалын суроо. Москвадан мигрант кыздардын жашоосун көп чагылдырдым. Көз чаптырып эстесем, ошондогу көтөргөн маселелерим азыр да актуалдуулугун жоготпой келет. “Азаттыкка” абдан ыраазымын, чогуу иштеген жаш кесиптештерим бүгүн ири ийгиликтердин ээси. Ал эми эл аралык журналистикага аралашуу менен, көптөгөн иштин аркасы менен дүйнө жүзүн кыдыра алдым, англис тилин өөрчүттүм. Англис тилине болгон кызыгуум азыр да жанып, келечекте Гарвард, Оксфорд өңдүү дүйнөлүк окуу жайлардан магистратуралык, аспиранттык билим алуу максатым бар.
            p
              b
                | -Ал эми эл өкүлү болуу балалык кыял беле? Саясатты тандооңузга эмне себеп болгон?
              | Балалык кыялым эл өкүлү болуу эмес, жазуучу, журналист болуу эле. Эл өкүлү болууга “Азаттыкта” “Ыңгайсыз суроолорду” алып барууда, 2005-2010-жылдардагы окуяларды чагылдырууда таасирленген окшойм. Себеби ар бир саясатчы “Азаттыктын” кеңсесине келип, маек куруп кетчү. Жашоомо саясат өзү кирип келди. 2015-жылы КСДП партиясынан тизмеге кирүү сунушу түшкөндө эч ким менен кеңешпей макулдугумду тез арада бергем. Тизменин этегинде болсом да, депутаттыкка баратканыма ишенгем. Депутаттык мандатты алганы эл аралап, калк турмушу менен тыгыз байланышып келем. Эл аралык журналистикага аралашуу менен айыл жергесинен алыстай түшкөнүмдү сездим. Элдин талабын аткаруу жалгыз адамдын колунан келбейт. Ошондой болсо да эл менен баарлашуудан ырахат алам. 
            p
              b
                | -Саясаттан чарчаганда бул тармактан баш тартуу тууралуу ойлор жаралабы? Саясаттын сизге берген таасири?
              | Саясаттын таасири менен адам катары өстүм, өзгөрдүм, токтоо болуп калдым. Депутат болгон соң маселелерде эксперт болуу керек, аны жөн гана окуп койбостон, түп тамырынан талдоо, анализ жүргүзүү шарт. Бул жагынан журналистика тармагы жардам берип келет. Экинчиден, саясат чыгармачылыгыма терс таасирин тийгизүүдө. Мурда жазгандай ички сезимдерди эркин жаза албай калдым. Себеби бул саясаттагы аялдарга болгон чектөө. Кырдаалга жараша чектелген тар дүйнөдө жашап жаткандаймын. Мисалы, социалдык тармактарга ички сезимдеримди эркин жаза албайм. Анткени ар ким ар кандай кабыл алуу менен балким ошол сөздү колдонуп кетиши ыктымал. Мурда чыгармачылык эргүү келип чыгармаларды жазып келсем, азыр эргүү да келбей калды, ушул нерсе жетишпейт. Анан да саясатта борбор жылдызы болууң керек, каякка барба баары сени карайт, сүйлөгөнүңдөн тарта, баскан турганыңа чейин көзөмөлдөнүп турат. Мага ушул нерсе да жакпайт. 
            p
              b
                | -Жогорку Кеңештин депутаты болуу менен кандай мыйзам долбоорлорду ишке ашыра алдыңыз?
              | Биринчи ири тажрыйбам Карамат Орозова демилгелеген жөлөк пул мыйзамы боюнча иштеп калдым. Андан тышкары учурдагы иштеп жаткан мыйзам долбоорум коомдук кеңештер. Ошондой эле айылдык кеңештердеги айымдардын маселеси. Учурда буга резервация киргизип жатабыз. Негизи социалдык комитеттин өкүлү болгондуктан билим берүү, айымдардын абалы, ден-соолук, балдардын абалы тууралуу маселелерди көтөрүп турам. Булар мени кызыктырган темалардын сап башында турат. 
            p
              b
                | -Ар бир жумуш көп убакытты талап кылат эмеспи, чарчаганда кантип эс аласыз?
              | Негизи социалдык тармактарды өчүрүү керек, бул ашыкча таштандыны мээге куйгандай. Чарчаганда спорт менен машыкканды, китеп окуганды жактырам. Спорт сергек гана алып жүрбөстөн, мээни да тазалоочу касиетке ээ. Бош убактым болгондо чыгармачылык эргүү менен ички туюмдарды жазам.
            p
              b 
                | -Алдыдагы жаз майрамдарында айымдарга каалооңуз?
              | Бардык айымдар жаратман, гүлдөй ачылган жан болобуз. Баарыбыздын үйүбүздө да, жүрөгүбүздө да тынчтык болуусу керек. Эгер саясатка таза, коррупциядан алыс аялдар келсе өлкөбүздү социалдык жактан камсыздай алабыз. Андыктан ар бир айымга ден-соолук, бакыт, иштеги ийгиликтерди каалайм. 

            p
             b "Элита плюс" 2018-жыл, март.
          .comments   
            #commento
            script(async='' src='https://cdn.commento.io/js/commento.js')

        include includes/sidebar/sidebar
      

  include includes/footer/footer


  include includes/scripts 
