extends layout/main/main
block title
  | questionnaire
block main  
  include includes/title/title
  - var overlay = true
  .wrapper
    .content 

      include includes/banner-adv/adv
      include includes/header/header

      .news-detail.indentation
        .container
          .news-detail__wrap
            .news-container
              include includes/breadcrumbs/breadcrumbs
              +breadcrumbs(['Башкы бет'], 'Парламент 2020')
              .category 
                | Парламент 2020
              .news-detail__title
                | Учурдагы 120 депутаттын кимисин кайрадан ЖКнын трибунасынан көргүңүз келет?
              .news-detail__info
                .news-detail__info-item 
                  i.far.fa-user
                  | Элита плюс 
                .news-detail__info-item 
                  i.far.fa-calendar-alt
                  | июнь 24, 2020 
                .news-detail__info-item  
              .news-detail__slider
                .swiper-slide
                  img(src="./assets/img/additional/1.jpg" alt="")
                  .news-detail__author   
                    i.fal.fa-camera
                    | &copy; Элита плюс  

                
              .news-detail__desc
                p  Жогорку Кеңештин 2015-жылы шайланып келген 6-чакырылышынын депутаттарынын иштөө мөөнөтү ушул жума менен аяктайт. 
                p Бул чакырылыштын депутаттары кандай иш алып барды ага эл тараза, эл сынчы. “Бүткөн ишке сынчы көп” демекчи, бүткөн ишти сындап убакыт коротпой эле коелу. Андан көрө быйыл тактап айтканда 2020-жылы октябрда кайрадан Жогорку Кеңештин 7-чакырылышына парламенттик шайлоо өткөнү турат. Ошондон кеп салалы.  
                p Шайлоонун шарапаты эмитен эле башталгандай. О.э. 6-чакырылыштын депутаттарынын арасында кайрадан шайлоого бараарын жашырбаган дагы эл өкүлдөрү кездешүүдө. Андыктан “elitaplus.kg” сайты өз окурмандарына сурамжылоо жүргүзөт. 
                p Учурдагы 120 депутаттын кимисин кайрадан ЖКнын трибунасынан көргүңүз келет? 
          
              .questionnaire
                .news-detail__title
                  | Учурдагы 120 депутаттын кимисин кайрадан ЖКнын трибунасынан көргүңүз келет?
                form(action="")
                  .questionnaire__search-wrap
                    input(type="text" placeholder="Издөө" autocomplete="off").questionnaire__search#elastic
                  .questionnaire__list.elastic
                    mixin candidate(item)
                      label
                        input(type="radio" id="#" name="candidate")
                        span=item
                        .questionnaire__confirm   
                          button(type=sybmit) Ырастоо
                    +candidate('Абдыкеримов Шаршенбек Шайлообекович ("Кыргызстан")')
                    +candidate('Абдылдаев Мыктыбек Юсупович ("Бир Бол")')
                    +candidate('Абжалиев Алиярбек Токобекович ("Республика - Ата Журт")')
                    +candidate('Айдаров Салайдин Абдираевич ("Кыргызстан")')
                    +candidate('Айдаров Нургазы Абдыраевич (Өнүгүү-Прогресс)')
                    +candidate('Айнакулов Мухтарбек Айнакулович (КСДП)')
                    +candidate('Акаев Жанарбек Кубанычович (КСДП)')
                    +candidate('Акматов Алмазбек Жумабекович ("Бир Бол")')
                    +candidate('Алимбеков Нурбек Каарыевич ("Кыргызстан")')
                    +candidate('Алтыбаева Айнуру Тойчиевна (КСДП)')
                    +candidate('Алтынбеков Айбек ("Республика - Ата Журт")')
                    +candidate('Алыбаев Орозбек Артельевич ("Кыргызстан")')
                    +candidate('Аманкулов Марат Аскерович (КСДП)')
                    +candidate('Арапбаев Азамат Абдуллажанович (КСДП)')
                    +candidate('Артыков Анвар Артыкович (КСДП)')
                    +candidate('Аскарова Айнура Алмасбековна ("Кыргызстан")')
                    +candidate('Асылбаева Гюльшат Кадыровна ("Өнүгүү-Прогресс")')
                    +candidate('Аттокуров Данияр Бексултанович (КСДП)')
                    +candidate('Баатырбеков Алмазбек Баатырбекович ("Кыргызстан")')
                    +candidate('Байбакпаев Экмат Джурукпаевич ("Республика - Ата Журт")')
                    +candidate('Баймуратов Калдарбек Шакирович ("Республика - Ата Журт")')
                    +candidate('Бакиров Мирлан Исакбекович ("Өнүгүү-Прогресс")')
                    +candidate('Бакиров Өмүрбек Мирзараимович (КСДП)')
                    +candidate('Бакчиев Жаныбек Абдукапарович ("Бир Бол")')
                    +candidate('Бекешев Дастан Далабайевич (КСДП)')
                    +candidate('Бешимбаева Айгерим Кабылбековна ("Республика - Ата Журт")')
                    +candidate('Бокоев Кенжебек Сатымкулович ("Республика - Ата Журт")')
                    +candidate('Гайпкулов Искандер Төрөбаевич ("Ата Мекен")')
                    +candidate('Дюшалиев Абдыбек Кашымбекович ("Республика - Ата Журт")')
                    +candidate('Жумабеков Дастанбек Артисбекович ("Кыргызстан")')
                    +candidate('Жураев Сайдолимжон Маруфович (КСДП)')
                    +candidate('Жамалдинов Зиядин Исламович ("Өнүгүү-Прогресс")')
                    +candidate('Жапаров Акылбек Усенбекович ("Бир Бол")')
                    +candidate('Жеенчороев Мирлан Канатбекович ("Республика - Ата Журт")')
                    +candidate('Жетигенов Бакытбек Жеңишбекович (КСДП)')
                    +candidate('Жолдошбаев Камчыбек Жолдошбаевич ("Өнүгүү-Прогресс")')
                    +candidate('Жоробаев Жаныбек Сүйүнбаевич (“Кыргызстан”)')
                    +candidate('Жоробеков Тариел Улукбекович ("Республика - Ата Журт")')
                    +candidate('Жумалиев Кубанычбек Мырзабекович ("Бир Бол")')
                    +candidate('Жунус уулу Адыл ("Республика - Ата Журт")')
                    +candidate('Жунус уулу Алтынбек ("Өнүгүү-Прогресс")')
                    +candidate('Жутанов Алмаз Токтоназарович ("Өнүгүү-Прогресс")')
                    +candidate('Жээнбеков Асылбек Шарипович (КСДП)')
                    +candidate('Зулпукаров Төрөбай Закирович (КСДП)')
                    +candidate('Зулушев Курманкул Токторалыевич ("Республика - Ата Журт")')
                    +candidate('Ибраев Саматбек Кулукеевич (КСДП)')
                    +candidate('Икрамов Тазабек Икрамович ("Өнүгүү-Прогресс")')
                    +candidate('Иманалиев Каныбек Капашович ("Ата Мекен")')
                    +candidate('Исаева Динара Шертаевна ("Республика - Ата Журт")')
                    +candidate('Исаев Канатбек Кедейканович ("Кыргызстан")')
                    +candidate('Казакбаев Руслан Айтбаевич ("Республика - Ата Журт")')
                    +candidate('Карамушкина Ирина Юрьевна (КСДП)')
                    +candidate('Карашев Аалы Азимович (КСДП)')
                    +candidate('Каримов Нодирбек Тохтосинович (КСДП)')
                    +candidate('Касымалиева Аида Камчыбековна (КСДП)')
                    +candidate('Келдибаев Сагындык Аширалиевич ("Республика - Ата Журт")')
                    +candidate('Керезбеков Канат Керезбекович (КСДП)')
                    +candidate('Кодуранова Асель Союзбековна (КСДП)')
                    +candidate('Конушбаев Тынчтыкбек Кадырбекович ("Кыргызстан")')
                    +candidate('Кулбараков Абтандил Илдузович (КСДП)')
                    +candidate('Кыдыралиев Умбеталы Токторалиевич ("Республика - Ата Журт")')
                    +candidate('Мавлянова Махабат Эргешовна ("Республика - Ата Журт")')
                    +candidate('Мадеминов Мурадыл Ганыевич (КСДП)')
                    +candidate('Маматалиев Марлен Абдырахманович ("Республика - Ата Журт")')
                    +candidate('Маматов Абдимуктар Маматович ("Ата Мекен")')
                    +candidate('Мамашова Айсулуу Турусбековна ("Ата Мекен")')
                    +candidate('Мамытов Талант Турдумаматович ("Республика - Ата Журт")')
                    +candidate('Маннанов Ильхом Абдукахарович (КСДП)')
                    +candidate('Масабиров Талайбек Айтмаматович ("Кыргызстан")')
                    +candidate('Матраимов Искендер Исмаилович (КСДП)')
                    +candidate('Молдобекова Гулкан Сакиновна (КСДП)')
                    +candidate('Момбеков Рыскелди Чыныбекович (КСДП)')
                    +candidate('Мусабекова Жылдыз Аманбековна (КСДП)')
                    +candidate('Никитенко Наталья Владимировна ("Ата Мекен")')
                    +candidate('Нурбаев Абдывахап Мамадрасулович (КСДП)')
                    +candidate('Нурматов Кубанычбек Советович ("Кыргызстан")')
                    +candidate('Нышанов Сайдулла Канболотович ("Ата Мекен")')
                    +candidate('Омуркулов Иса Шейшенкулович (КСДП)')
                    +candidate('Ормонов Улугбек Зулпукарович ("Бир Бол")')
                    +candidate('Орозова Карамат Бабашевна (КСДП)')
                    +candidate('Осмонова Айнура Шермаматовна (КСДП)')
                    +candidate('Пирматов Исхак Айтбаевич ("Бир Бол")')
                    +candidate('Примов Улан Бердибаевич (КСДП)')
                    +candidate('Райымкулов Бактыбек Кемелбекович ("Республика - Ата Журт")')
                    +candidate('Рысалиев Зарылбек Кылычбекович ("Республика - Ата Журт")')
                    +candidate('Рыспаев Кожобек Джайчыбекович (КСДП)')
                    +candidate('Сабиров Максат Эсенович ("Республика - Ата Журт")')
                    +candidate('Самаев Урматбек Обозбекович ("Кыргызстан")')
                    +candidate('Самат Гульнара-Клара ("Ата Мекен")')
                    +candidate('Самигуллина Альфия Эльдаровна (КСДП)')
                    +candidate('Строкова Евгения Григорьевна (КСДП)')
                    +candidate('Субанбеков Бакирдин Жамалович ("Бир Бол")')
                    +candidate('Сулайманов Алтынбек Турдубаевич ("Бир Бол")')
                    +candidate('Сулейманов Бахадыр Искакович ("Ата Мекен")')
                    +candidate('Султанов Абдыкапар Маданбекович ("Өнүгүү-Прогресс")')
                    +candidate('Сурабалдиева Эльвира Жыргалбековна (КСДП)')
                    +candidate('Сыдыгалиев Бектен Качкыналиевич ("Кыргызстан")')
                    +candidate('Сыдыгалиев Нурбек Омурбекович ("Ата Мекен")')
                    +candidate('Сыдыков Бактыбек Усенович ("Республика - Ата Журт")')
                    +candidate('Тагаев Эрмамат Султанович ("Бир Бол")')
                    +candidate('Тиллаев Таабалды Гапырович ("Республика - Ата Журт")')
                    +candidate('Токторов Алмазбек Сатиевич ("Кыргызстан")')
                    +candidate('Токтошев Эмиль Токтакунович ("Ата Мекен")')
                    +candidate('Төлөнов Данияр Эрмекович ("Кыргызстан")')
                    +candidate('Төрөбаев Бакыт Эргешевич ("Өнүгүү-Прогресс")')
                    +candidate('Төрөкулов Дүйшөн Гуламкадырович ("Бир Бол")')
                    +candidate('Тотонов Нурбек Темирбекович ("Республика - Ата Журт")')
                    +candidate('Тулендыбаев Пархат Розымович ("Республика - Ата Журт")')
                    +candidate('Туманбаева Рада Мураталыевна ("Республика - Ата Журт")')
                    +candidate('Турсунбаев Азизбек Атакозуевич ("Кыргызстан")')
                    +candidate('Турсунбеков Чыныбай Акунович (КСДП)')
                    +candidate('Турусбеков Бактыбек Сагындыкович ("Бир Бол")')
                    +candidate('Турускулов Жыргалбек Күрүчбекович ("Республика - Ата Журт")')
                    +candidate('Узакбаев Абылкайыр Осмонбекович ("Өнүгүү-Прогресс")')
                    +candidate('Чойбеков Руслан Нуркалиевич ("Кыргызстан")')
                    +candidate('Шайназаров Тынчтык Урайимович ("Өнүгүү-Прогресс")')
                    +candidate('Шарапов Закир Эшматович ("Республика - Ата Журт")')
                    +candidate('Шер-Нияз Садык ("Ата Мекен")')
                    +candidate('Эгембердиев Максатбек Бакирович (КСДП)')
                    +candidate('Юсуров Абдумажит Лелезович ("Өнүгүү-Прогресс")')
                  
                p
                 b "Элита плюс" 2020-жыл, июнь.
              .comments   
                #commento
                script(async='' src='https://cdn.commento.io/js/commento.js')
                //- .comments__wrap
                //-   .comments__item
                //-     .comments__info
                //-       .comments__user-name Башка адамдын аты
                //-       .comments__date 2 минөт мурун
                //-     .comments__user-review Башка адамдын пикири (отзывы)
                //-   .comments__item.comments__item--your-review
                //-     .comments__info
                //-       .comments__date 2 минөт мурун
                //-       .comments__user-name Менин атым
                //-     .comments__user-review Менин пикирим (отзывым)
                //-   .message-form
                //-     form
                //-       textarea(placeholder="Текст билдирүү")
                //-       .btn-wrap.btn-wrap_right
                //-         button(type="submit").btn.btn_empty Жөнөтүү
            aside.sidebar   
              .sidebar__float-block   
                include includes/sidebar/sidebar
                +category('Акыркы статьялар')
                - var rubric = true 
                +category('Рубрикалар')
                - var singleSimilar = true
                +category('окшош статьялар')
                - var rubric = false 
                - var adver = true 
                +category('Жарнама')







    include includes/footer/footer


  include includes/scripts 
  script. 
    document.querySelector('#elastic').oninput = function () {
    let val = this.value.trim();
    let elasticItems = document.querySelectorAll('.elastic label span');
    if (val != '') {
    elasticItems.forEach(function (elem) {
    if (elem.innerText.search((RegExp(val, "gi"))) == -1) {
    elem.classList.add('hide');
    elem.innerHTML = elem.innerText;
    } else {
    elem.classList.remove('hide');
    let str = elem.innerText;
    elem.innerHTML = insertMark(str, elem.innerText.search((RegExp(val, "gi"))), val.length);
    }
    });
    } else {
    elasticItems.forEach(function (elem) {
    elem.classList.remove('hide');
    elem.innerHTML = elem.innerText;
    });
    }

    }


    function insertMark(string, pos, len) {
    return string.slice(0, pos) + '<mark>' + string.slice(pos, pos + len) + '</mark>' + string.slice(pos + len);
    }
