// Сторонние библиотеки 
// @import "../js/libs/--/--/";

//---------------------------------------------

// css файлы библиотек/плагинов
// @import "../../node_modules/--/--/";

@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/css/swiper.min.css";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";

//---------------------------------------------

// подключение сгенерированных иконок(fontello),
// FontAwesome

// @import "../assets/icons/fontello/--/--/";
@import "../assets/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.min.css";

//---------------------------------------------

// подключение css файлов

@import "fonts";
@import "variables";
@import "mixins/media";


//---------------------------------------------


//---------------------------------------------

// Компоненты

@import "components/base";
@import "components/header";
@import "components/sidebar/sidebar";
@import "components/entry/entry";
@import "components/news/news";
@import "components/additional/additional";
@import "components/production/production";
@import "components/gallery/gallery";
@import "components/video/video";
@import "components/footer";


//Страница контакты
@import "components/contacts/contacts";
@import "components/aboutPage/aboutPage";